.profile-photo {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.profile-photo img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

.form {
    display: grid;
    gap: 20px;
}

.question {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.options {
    display: grid;
    gap: 10px;
}

.options label {
    background: #ffffff;
    border: 1px solid #eee;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
}

.options label:hover {
    background: #c5e5ff;
    transform: translateX(5px);
}

.options input {
    accent-color: #0f172a;
}

.btn {
    margin-top: 20px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #0f172a;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.btn:hover {
    transform: scale(1.02);
    background: #020617;
}

.notice {
    display: none;
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    background: #fee2e2;
    color: #991b1b;
    font-size: 0.9rem;
    text-align: center;
}